<h1>Listing Topics</h1>
<%= link_to 'New Topic', new_topic_path %>
<table>
  <tr>
    <th> Title </th>
    <th> Author </th>
   <!-- <th> Content </th> -->
    <th colspan = "2"></th>
  </tr>

  <% @topics.each do |topic| %>
    <tr>
      <td><%= topic.title %></td>
      <td><%= topic.author %></td>
      <!-- <td><%= topic.content %></td> -->
      <td><%= link_to 'show', topic_path(topic) %></td>
      <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
    </tr>
  <%end%> 
</table>
